#uc_gradient_underline_text_effect_elementor_042ef8c {
    text-align: center;
}

#uc_gradient_underline_text_effect_elementor_042ef8c .underline--magical {
    background-image: linear-gradient(120deg, #ED6C30 0%, #ED6C30 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

#uc_gradient_underline_text_effect_elementor_042ef8c .underline--magical:hover {
    background-size: 100% 88%;
}


#uc_gradient_underline_text_effect_elementor_3758371 {
    text-align: center;
}

#uc_gradient_underline_text_effect_elementor_3758371 .underline--magical {
    background-image: linear-gradient(120deg, #ED6C30 0%, #ED6C30 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

#uc_gradient_underline_text_effect_elementor_3758371 .underline--magical:hover {
    background-size: 100% 88%;
}

.elementor-widget-image {
    text-align: center
}

.elementor-widget-image a {
    display: inline-block
}

.elementor-widget-image a img[src$=".svg"] {
    width: 48px
}

.elementor-widget-image img {
    vertical-align: middle;
    display: inline-block
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: #69727d;
    color: #fff
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
    color: #69727d;
    border: 3px solid;
    background-color: transparent
}

.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
    margin-top: 8px
}

.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
    width: 1em;
    height: 1em
}

.elementor-widget-text-editor .elementor-drop-cap {
    float: left;
    text-align: center;
    line-height: 1;
    font-size: 50px
}

.elementor-widget-text-editor .elementor-drop-cap-letter {
    display: inline-block
}